<!DOCTYPE html>
<html>

<head>
    <link id="lt-font-link" rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap">
    <link rel="stylesheet" href="/static/lt.css?v={{ VERSION }}">
    <script src="/static/wm.js?v={{ VERSION }}"></script>
</head>

<body>
    <!-- 📹 AUDIENCE CAMERA LAYER -->


    <div id="lt-container" class="layer-lyrics">
        <div id="lt-text" class="lt-text"></div>
    </div>
    <div id="alert-crawl">
        <div id="crawl-text" class="crawl-content"></div>
    </div>

    <script src="/static/lt.js?v={{ VERSION }}"></script>
</body>

</html>